* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Image {
  display: flex;
  align-items: center;
  gap: 5px;
}

.image {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  height: 100px;
  background-color: blue;
  border: 1px solid black;
}

header h1 {
  margin-left: 20px;
  border: 1px solid black;
  background-color: rgb(131, 131, 255);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
  background-color: aqua;
  width: 550px;
  padding: 5px;
  border-radius: 10px;
}

nav a {
  border: 1px solid black;
  padding: 2px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgb(175, 254, 254);
  transition: background-color 0.5s;
}

nav a:hover {
  background-color: rgb(66, 229, 229);
}

table {
  margin: 20px auto;
  border: 1px solid black;
  min-width: 500px;
  min-height: 150px;
  padding: 5px 2.5px;
  background-color: rgb(217, 237, 255);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  border-spacing: 5px;
}

thead {
  background-color: rgb(0, 148, 148);
  color: white;
}

thead tr th {
  border: 1px solid black;
  padding: 5px;
}

tbody {
  text-align: center;
  background-color: blueviolet;
  color: white;
}

tbody tr td {
  border: 1px solid black;
}

figure {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 3px;
  width: 516px;
  background-color: red;
  border: 1px solid rgb(255, 77, 77);
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
}

#imagem {
  border-radius: 10px 10px 0 0;
}